.Card0-container{
  background: #131921;
}
.Card0-image1{
  width: auto;
  display: grid;
  grid-template-columns: repeat(3,auto);
}
#Search{
  width: 600px;
  margin-top: 10px;
  height: 40px;
  font-size: 20px;
}
#img1{
  width: auto;
}
#img2{
  width: auto;
}
